.btn {
    margin-right: 10px;
}

.maxim {
    height: 100%;
    overflow: scroll;
}

#btn-add {
    margin-top: 28px;
}

.title {
    color: gray;
    font-style: italic;
}

.placeInt {
    padding-left: 1.3em;
}