<div class="content"> 
  <div class="card">
    
  
  <div class="clearfix">
   
        <button class="btn btn-success btnsupp" data-toggle="modal" data-target="#exampleModal"><i class="align-middle" data-feather="plus"></i>Agregar</button>
    
    <h1 class="h3 mb-3">Usuarios</h1>
</div>
  <table class="table">
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">#Proveedor</th>
        <th scope="col">Rason Social</th>
        <th scope="col">Sobrenombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Contacto</th>
        <th scope="col">Habilitado</th>

      </tr>
    </thead>
    <tbody>
    
      <tr>
          <th scope="row">12220</th>
          <td>Proveedor Solutions SA de CV</td>
          <td>Proveedor</td>
          <td>Rio Tamesi #223</td>
          <td>9223445</td>
          <td>David Varela</td>
          <td style="color: green">Habilitado</td>
        </tr>
    
    </tbody>
  </table>


  <!-- <div>
    <figure>

    </figure>

  </div> -->
</div>
</div>