<div class="content maxim" [style.height]=" w + 'px'">
  <h3>Peticiones</h3>
  <br>
  <div class="card">
    <div class="card-header">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle text-muted">Descripción</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="inputPassword4">Urgencia</label>
                  <select class="form-control">
                      <option class="alert alert-success">Baja</option>
                      <option class="alert alert-warning">Media</option>
                      <option class="alert alert-danger">Alta</option>
                  </select>
                </div>                
              </div>
              <div class="form-row">
                  <div class="form-group col-md-2">
                      <label></label>
                      <button class="btn btn-success">Enviar</button>
                  </div>
              </div>
          </form>
    </div>
</div>
  <!-- tabla -->
  <div class="card">
      <div class="card-header">
          <h5 class="card-title">Lista de Peticiones</h5>
          <h6 class="card-subtitle text-muted">Descripción</h6>
      </div>
      <div class="card-body">
          <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Numero</th>
                          <th scope="col">Estatus</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>24/12/18</td>
                      <td>1234566</td>
                      <td>Activo</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>25/12/18</td>
                      <td>1234566</td>
                      <td>Activo</td>
                    </tr> 
                    <tr>
                      <td>3</td>
                      <td>26/12/18</td>
                      <td>1234566</td>
                      <td>Activo</td>
                    </tr>           
                  </tbody>
              </table>
      </div>
  </div>
</div>