<div class="content">
  <div id="primera"> 
  <figure id="logo" class="posiciones">
    <img src="../../../../assets/img/Logo.png">
  </figure>
  <div id="datos" class="posiciones">
    
    <h3>
      Proveedor
      <p class="company">Nombre de proveedor S.A. de C.V.</p> 
    </h3>
    <div class="info">
    
    
    <span><strong>Direccion:</strong> Rio Tamesí #233 Col. Mexico</span> 
    <p><strong>Contacto:</strong> David Varela</p>
    </div> 
    <div class="botonesesp">
      <span class="alignLine">
    <span class="tag tag1 posiciontag">
      <div class="ico ">
          <span class="fa fa-phone"></span>
      </div>
    <div class="number">

      89912020298
    </div>
  </span>
      </span>
      <span class="alignLine">
    <span class="tag tag2 posiciontag">
        <div class="ico ">
            
            <span class="fa fa-envelope"></span>
        </div>
      <div class="number">
  
          dfedftftftft.2@proveedor.com
      </div>
    </span>
      </span>
       <span class="alignLine">
      <span class="tag tag2 posiciontag">
          <div class="ico ">
              
              <span class="fa fa-globe"></span>
          </div>
        <div class="number">
    
            Sitio Web
        </div>
      </span>
       </span>
    </div>




  </div>

  <div id="score" class="posiciones">
    <div class="scoretitle">SCORE</div>
    <div class="scoreletter">A</div>
  </div>
</div>
  
  <div id="historialCompras" >
cdc
  </div>

  <div id="info">

  </div>
</div>
