.col-lg-5{
    float: left;
}
.col-lg-7{
    float: right;
}

.col-lg-2{
    float: right;
}
.col-lg-3{
    float: right;
}
.col-lg-4{
    float: right;
}
.maxim {
    
    overflow: scroll;
    
}
#input-search{
    margin-top: 7px;
}