<div class="content maxim" [style.height]=" w + 'px'"  >
  <h3>Nombre_almacen</h3>
  <hr>  
  <div class="card">
      <div class="card-header">
        <div class="col-lg-12">
          <div class="col-lg-5">
              <h5 class="card-title">Productos Registrados</h5>
              <h6 class="card-subtitle text-muted">Tabla de productos registrados</h6>
          </div>
        </div>  
      </div>
      <div class="card-body">          
        <div  class="col-lg-12">
          <form>
            <div class="col-lg-12 form-group" id="form-search">
              <br>
              <div class="col-lg-2">
                <div class="form-group row">
                    <label for="ID" class="col-form-label">ID</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="ID" placeholder="#">
                    </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group row">
                    <label for="name" class="col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" placeholder="Nombre">
                    </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group row">
                    <label for="branch" class="col-form-label">Tipo</label>
                    <div class="col-sm-10">
                      <select name="branch" id="branch" class="form-control">
                        <option value="0"></option>
                        <option value="1">Matriz</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group row">
                      <label for="user" class="col-form-label">Proveedor</label>
                      <div class="col-sm-9">
                        <select name="user" id="user" class="form-control">
                          <option value="0"></option>
                          <option value="1">Juan Perez</option>
                          <option value="1">Alan Garcia</option>
                        </select>
                      </div>
                  </div>
              </div>
              <div class="col-lg-1">
                  <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span>   Buscar</button>
                      </div>
                    </div>
              </div>
            </div>
          </form>
          <br>
        </div> 
          <table class="text-center table-hover table">
            <thead class="bg-dark text-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Unidad de medida</th>
                <th>Precio</th>
                <th>Proveedor</th>
              </tr>
            </thead>
            <tbody>
              <tr data-toggle="modal" data-target="#modalAlmacen">
                <td>1</td>
                <td>Producto 1 </td>
                <td>100</td>
                <td>Kg</td>
                <td>300</td>
                <td>Proveedor 1</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalAlmacen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar a Almacen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Almacen 1</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="name" placeholder="Cantidad">
                </div>
              </div>
              <div class="form-group row">
                <label for="dir" class="col-sm-2 col-form-label">Almacen 2</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="dir" placeholder="Cantidad">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span><br>Guardar</button>
                </div>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>