.col-lg-5{
    float: left;
}
.col-lg-7{
    float: right;
}
#form-search{
    background-color: #DDDBDA;
    height: 5em;
    border-left: 1em solid #213C6D;
}
.col-lg-3{
    float: left;
}
.col-lg-1{
    float: left;
}
.col-lg-2{
    float: left;
}
.col-lg-6{
    float: left;
}